<md-toolbar color="primary">
    Interval Timer
    <span class="app-toolbar-filler"></span>
    <button md-button (click)="create()">New</button>
</md-toolbar>
<div class="app-content">
    <div>
        <md-input placeholder="Search" (keyup.enter)="search($event)"></md-input>
    </div>
    <table style="width: 100%; margin-top: 10px; border-collapse: collapse">
        <thead style="text-align: left">
            <tr>
                <th>Title</th>
                <th>Sets</th>
                <th>Work</th>
                <th>Rest</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let timer of timers" style="border-top: 1px solid black">
                <td>{{ timer.name }}</td>
                <td><md-checkbox [disabled]="true" [checked]="timer.data.sets || false"></md-checkbox></td>
                <td><md-checkbox [disabled]="true" [checked]="timer.data.work || false"></md-checkbox></td>
                <td><md-checkbox [disabled]="true" [checked]="timer.data.rest || false"></md-checkbox></td>
            </tr>
        </tbody>
    </table>
</div>
